body {
  padding-top: 49px;
}

@media (max-width: 790px) {
  body {
    padding-top: 46px;
  }
}


.login {
  background: url('../img/bg-01.jpg')repeat center;
  background-size: cover;
}

.loginbox {
  padding: 100px 60px;
  margin-top: 20vh;
  border: 0px solid #000000;
  -webkit-box-shadow: 7px 10px 16px 9px rgba(255,255,255,0.4);
  -moz-box-shadow: 7px 10px 16px 9px rgba(255,255,255,0.4);
  box-shadow: 7px 10px 16px 9px rgba(255,255,255,0.4);
  border-radius: 61px 61px 61px 61px;
  -moz-border-radius: 61px 61px 61px 61px;
  -webkit-border-radius: 61px 61px 61px 61px;
  border: 10px solid #000000;
}

/*Animate for Angular*/
.animate-repeat {
  line-height:30px;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:30px;
}

.pokeball {
  position: absolute;
  width: 200px;
  height: auto;
  top: -52%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.pokeball {
  animation: down 1s alternate infinite;
}

@keyframes down {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-2px);
  }
}

.pokeballr {
  position: absolute;
  width: 200px;
  height: auto;
  top: -60%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.pokeballr {
  animation: downs 1s alternate infinite;
}

@keyframes downs {
  0% {
    transform: translateY(1px);
  }
  100% {
    transform: translateY(-2px);
  }
}

@media(max-height: 760px) {
  .pokeball {
    top: -46%;
  }
}

.pokeSearch {
  padding-top: 2%;
  padding-bottom: 2%;
}

.imgPokemon {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  background: rgba(255,255,255,0.3);
  border: 2px solid #000;
  border-bottom: none;
  -webkit-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 7px 5px 0px rgba(0,0,0,0.75);
  border-radius: 20px 20px 8px 8px;
  -moz-border-radius: 20px 20px 8px 8px;
  -webkit-border-radius: 20px 20px 8px 8px;
}

.pokeImg {
  width: auto;
  height: 200px;
}

.pokeImg{
  -webkit-transition: transform .5s ease-in-out ;
  -o-transition: transform .5s ease-in-out ;
  transition: transform .5s ease-in-out ;
}

.pokeImg:hover {
  transform: scale(1.1);
}

.namePokemon {
  border: 2px solid #000;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 4px 5px 0px rgba(0,0,0,0.75);
  padding: 2% 0;
  margin: 0 0 2% 0;
  background: #0c99c1;
  color: #fff;
  font-family: 'Source Code Pro', monospace;
}

.text-white {
  color: #fff;
}

.logCont {
  padding-bottom: 20%;
}

@media(max-width: 1200px) {
  .logCont {
    padding-bottom: 25%;
  }  
}

@media(max-width: 960px) {
  .logCont {
    padding-bottom: 28%;
  }  
}

@media(max-width: 856px) {
  .logCont {
    padding-bottom: 30%;
  }  
}

@media(max-width: 797px) {
  .logCont {
    padding-bottom: 32%;
  }  
}

@media(max-width: 744px) {
  .logCont {
    padding-bottom: 34%;
  }  
}

@media(min-width: 500px) and (max-width: 700px) {
  .logCont {
    padding-bottom: 38%;
  }  
}

@media(max-width: 600px) and (min-width: 500px) {
  .logCont {
    padding-bottom: 45%;
  } 
}

@media(min-width: 401px) and (max-width: 499px) {
  .logCont {
    border: 10px solid red;
  }
}

@media(max-width: 400px) {
  .logCont {
    padding-bottom: 35%;
  }
}

.regCont {
  padding-bottom: 11%;
}