<div class="container-fluid regCont">
		<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12 hola"></div>
			<div class="col-md-4 col-sm-12 col-xs-12">
				<!-- FS -->
				<form class="loginbox text-white">
					<div class="form-group">
						<div class="cont-img">
							<img src="img/favicon.png" class="img-responsive pokeballr">
						</div>
						<label for="exampleInputEmail1">Nombre</label>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Scarlett">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail2">Apellido</label>
						<input type="text" class="form-control" id="exampleInputEmail2" placeholder="Johansson">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Email</label>
						<input type="email" class="form-control" id="exampleInputPassword1" placeholder="example@gmail.com">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword2">Contraseña</label>
						<input type="password" class="form-control" id="exampleInputPassword2" placeholder="********">
					</div>
					<button type="submit" class="btn btn-primary btn-block">Registrase</button>
				</form>
				<!-- FE -->
			</div>
		</div>
	</div>